<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sj.project.TourReplyMapper">
	<insert id="insert">
		insert into wm_tour_reply(parentrno, trip_no, mno, rcontent)
		values(#{parentrno},#{trip_no},#{mno},#{rcontent})
	</insert>

	<select id="select"
			resultType="com.sj.project.domain.TourReplyVO">
		select * from wm_tour_reply
		where trip_no = #{trip_no}
		order by rno asc
	</select>
	
		<select id = "selectperson" resultType="com.sj.project.domain.PersonalVO">
		select * from wm_personal
		where mno in (select mno from wm_tour_reply where trip_no = #{trip_no})
	</select>
	
	<update id="update">
		update wm_tour_reply
		set rcontent=#{rcontent}, regdate = sysdate
		where rno = #{rno}
	</update>
	
	<delete id="delete">
	delete from wm_tour_reply where rno = #{rno}
	</delete>
	
	<delete id="alldelete">
	delete from wm_tour_reply where parentrno = #{parentrno}
	</delete>

</mapper>