<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sj.project.TourRegisterMapper">

	<insert id="insert-register">
		insert into wm_tour(mno, title, condition_sex, condition_age, content,
		start_date, end_date)
		values (#{mno}, #{title}, #{condition_sex}, #{condition_age}, #{content},
		#{start_date}, #{end_date})
	</insert>

	<insert id="insert-thumnail">
		insert into wm_image(board_type, content_no, img_url)
		values (#{board_type}, #{content_no}, #{img_url})
	</insert>

	<insert id="insert-region">
		insert into wm_tour_region(trip_no, region_name)
		values (#{trip_no},
		#{region_name})
	</insert>

	<select id="select-trip_no" resultType="Integer">
		select trip_no from wm_tour
		where (mno = #{mno} and title = #{title} and start_date = #{start_date} and
		end_date = #{end_date} and content = #{content})
	</select>

	<update id="update-register"> update wm_tour set title = #{title}, condition_sex = #{condition_sex},
	    condition_age = #{condition_age}, content = #{content}, start_date = #{start_date}, end_date = #{end_date} 
	    where mno = #{mno} and trip_no = #{trip_no} </update>

	<update id="update-thumnail"> update wm_image set img_url = #{img_url} where
		content_no = #{content_no} </update>

	<update id="update-region"> update wm_tour_region set region_name =
		#{region_name} where trip_no = #{trip_no} </update>
		
	<delete id="delete-register">
		delete from wm_tour where trip_no = #{trip_no}
	</delete>
	
	<delete id="delete-thumnail">
		delete from wm_image where content_no = #{trip_no} and board_type = 1
	</delete>
	
	<delete id="delete-region">
		delete from wm_tour_region where trip_no = #{trip_no}
	</delete>
	
	
	<!-- 여행 게시글에서 수정 버튼 눌렀을 때 수정 페이지에 정보 출력-->
	<select id="select_tourInfo_by_trip_no" resultType="com.sj.project.domain.TourRegisterVO">
		select * from wm_tour where trip_no = #{trip_no}
	</select>
	<select id="select_tourRegionInfo_by_trip_no" resultType="com.sj.project.domain.RegionVO">
		select * from wm_tour_region where trip_no = #{trip_no}
	</select>
	<select id="select_tourMainImage_by_trip_no" resultType="com.sj.project.domain.ImgVO">
		select * from wm_image where board_type = 1 and content_no = #{trip_no}
	</select>
	



</mapper>